.helptext {
    font-size: 11px;
    color: grey;
}
label {
    font-size: 14px;
}
input {
    width: 200px;
    padding-left: 3px;
}
#new-user-form th {
    vertical-align: text-top;
    line-height: 1;
}
#new-user-form td {
    line-height: 1;
    padding: 0 0 12px 5px;
}