.h6 {
    font-size: 14px;
    font-weight: bold;
}
html {
    font-size: 14px;
}
.form-box {
    margin: 10px;
    border: 1px solid darkgrey;
    border-radius: 6px;
    background-color: lightyellow; /* #343a40; */
    color: #343a40;
    box-shadow: 2px 2px 4px #888;
    padding: 15px;
    font-size: 12px;
}
.form-box hr {
    border-color: darkgrey;
}
.form-table, .helptext {
    font-size: 11px;
    color: darkgrey;
}
.form-table label {
    font-size: 14px;
}
.form-table input {
    width: 200px;
    padding: 2px;
    font-size: 12px;
    margin-bottom: 2px;
}
.form-table th {
    vertical-align: text-top;
    line-height: 1;
}
.form-table td {
    line-height: 1;
    padding: 0 0 12px 5px;
}
.form-table .errorlist {
    font-size: 11px;
    color: red;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

