{% extends "base.html" %}
{% block content %}
    <div class="d-inline-block">
        <h2 class="pb-0 mb-2 mt-2">{{ heading }}</h2>
        <div class="bg-light p-3">
            <h4 class="mb-0"><b>{{ object }}</b></h4>
            {% if object.is_published %}
                <h6 class="mb-2 mt-1 text-secondary" id="id-posted-by">
                    Posted by: <b>{{ object.editor }}</b> on {{ object.shared_at|date:'M d, Y' }} (GMT)
                </h6>
            {% endif %}
            {% if object.desc != None and object.desc != "" %}
                <h6 class="text-dark mb-3" id="id-desc">Description: {{ object.desc }}</h6>
            {% endif %}

            {% if active_session == None %}
                <div class="m-0 row mt-3">
                    {% if object.size != 0 %}
                        {% if not object.is_published and request.user == object.editor %}
                            <a class="btn btn-primary py-1" href="{% url 'publish_puzzle' object.id %}">PUBLISH</a>
                        {% endif %}
                        {% if object.is_published and request.user == object.editor %}
                            <a class="btn btn-primary py-1" href="{% url 'unpublish_puzzle' object.id %}">UNPUBLISH</a>
                        {% endif %}
                        {% if object.is_published and request.user != object.editor %}
                            <a class="btn btn-primary py-1" href="{% url 'solve_puzzle' object.id %}">SOLVE NOW</a>
                        {% endif %}
                    {% endif %}
                    <a id="id-no-thanks-btn" class="ml-auto btn btn-dark py-1" onclick="goBack()">BACK</a>
                </div>
            {% else %}
                <div class="m-0 row mt-2 font-weight-bold h5 align-items-center">
                    <div id="id-score"></div>
                    <div class="ml-auto"><i class="fa fa-clock-o"></i></div>
                    <div id="id-timer" class="ml-1"></div>
                </div>
                <div class="m-0 p-0 row align-items-center mt-1 shadow-sm">
                    <div class="progress col m-0 border border-secondary p-0" id="id-progress" style="height:18px">
                        <div id='id-num-solved' class="progress-bar bg-success" role="progressbar"></div>
                        <div id='id-num-revealed' class="progress-bar bg-secondary" role="progressbar"></div>
                    </div>
                </div>
                <div id="id-completed" class="m-0 row align-items-center p-0 mt-2">
                    <i class="fa fa-check-circle fa-lg" style="color:green;"></i>&nbsp;
                    <b>Finished!</b>
                    <a class="ml-auto btn btn-primary py-1" href="{% url 'puzzle_score' object.id %}">SCORES</a>
                    <a class="ml-2 btn btn-dark py-1" id="id-done-btn" onclick="goBack()">BACK</a>
                </div>
                <a id="id-finish-later-btn" class="ml-auto btn btn-primary mt-2 py-1" onclick="goBack();">FINISH
                    LATER</a>
            {% endif %}
            {% if object.size != 0 and not object.is_published and request.user == object.editor %}
                <div class="notetext pt-2">
                    NOTE: Publish your puzzle only after all clues are complete. Published puzzles cannot be edited
                    and will be accessible to all puzzlers to solve. Unpublish the puzzle to edit.
                </div>
            {% endif %}
            {% if object.size != 0 and object.is_published and request.user == object.editor %}
                <div class="notetext pt-2">
                    NOTE: Unpublish your puzzle only if you wish to make critical edits or delete the puzzle.
                    Unpublished puzzle will not be accessible to puzzlers and will put it in draft mode with
                    restricted editing.
                </div>
            {% endif %}

            {% if object.size == 0 %}
                <div class="mt-2 notetext">No clues exist.</div>
            {% else %}
                <hr>
                <h5 class="mb-0 mt-2"><b>Clues</b></h5>
                {% if active_session != None %}
                    <div class="notetext mb-2">Click on a clue below to see details or submit answer.</div>
                {% endif %}
                <table id="id-clues-list" class="table table-sm">
                    <thead>
                    <tr class="py-1">
                        <th></th>
                        <th>#</th>
                        <th>Description</th>
                        <th>Pts</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for clue in object.get_clues %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="col"></td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="modal" id="id-modal-answer-box" tabindex="-1" role="dialog" style="width:350px">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title"></h4>
                                <button type="button" class="close" data-dismiss="modal" title="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="id-clue-text"></div>
                                <div id="id-answer" class="mt-1"></div>
                                <div id="id-err-msg" class="mt-1 text-danger"></div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn-sm btn-dark pt-0 pb-0" id="id-submit-btn">SUBMIT</button>
                                <button class="btn-sm btn-dark pt-0 pb-0 ml-1" id="id-clear-btn">CLEAR</button>
                                <button class="btn-sm btn-danger pt-0 pb-0 ml-auto" id="id-reveal-btn">REVEAL</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% load static %}
    <script src="{% static '/javascript/word_puzzle_view.js' %}"></script>
    <script>
        let clueSet =;
        let activeSession =;

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        $(document).ready(function () {
            try {
                new WordPuzzlePageView(clueSet, activeSession);
            } catch (e) {
                alert(e);
            }
        })
    </script>
{% endblock %}