{% extends "base.html" %}
{% block content %}
    <div class="page-title">Account Settings</div>
    <hr class="dark-line">
    {% url 'account' as account_url %}
    {% if request.path == account_url %}
        <fieldset disabled="disabled">
            <table>{{ form.as_table }}</table>
        </fieldset>
        <a href="{% url 'account_edit' %}" id="lnkEditAccount" class="blue-btn">Edit</a>
    {% else %}
        <form action="{% url 'account_edit' %}" method="post">
            {% csrf_token %}
            <table>{{ form.as_table }}</table>
            <button type="submit" id="btnSave" class="blue-btn">Save</button>
            <a href="{% url 'account' %}" id="lnkAccount">Cancel</a>
        </form>
    {% endif %}
    <hr class="dark-line">
{% endblock %}