<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cryptic Live</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static '/css/stylesheet.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a href="{% url 'dashboard' %}">
                <img class="logo" src="{% static '/images/crypticlive-black-logo.png' %}"  alt="Cryptic Live" />
            </a>
            {% if user.is_authenticated %}
                <div class="header-group">
                    <span class="current-user has-icon">{{ user.username }}</span>
                    <a class="menu-toggle-button has-icon"></a>
                </div>
            {% endif %}
        </header>
        <div class="glasspane"></div>
        <div class="main">
            {% if user.is_authenticated %}
            <!-- NAVBAR -->
            <nav class="navbar">
                <ul class="navbar-links">
                    <li>
                        <a href="{% url 'home' %}"><span class="nav-link-home has-icon"></span>Dashboard</a>
                    </li>
                    <li><hr class="separator"></li>
                    <li>
                        <a href="{% url 'my_puzzles' %}"><span class="nav-link-builder has-icon"></span>My Puzzles</a>
                    </li>
                    <li><hr class="separator"></li>
                    <li>
                        <a href="{% url 'account' %}"><span class="nav-link-account has-icon"></span>Account Settings</a>
                    </li>
                    <li>
                        <a href="{% url 'change_password' %}"><span class="nav-link-pswd has-icon"></span>Change Password</a>
                    </li>
                    <li><hr class="separator"></li>
                    <li>
                        <a href="{% url 'release_notes' %}"><span class="nav-link-notes has-icon"></span>Release Notes</a>
                    </li>
                    <li><hr class="separator"></li>
                    <li>
                        <a href="{% url 'logout' %}"><span class="nav-link-logout has-icon"></span>Logout</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
            <!-- MAIN CONTENT -->
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggleButton = document.getElementsByClassName("menu-toggle-button")[0];
            const navbar = document.getElementsByClassName("navbar")[0];
            const glasspane = document.getElementsByClassName("glasspane")[0];
            toggleButton.addEventListener('click', () => {
                navbar.classList.toggle("active");
                glasspane.classList.toggle("active");
            });
            glasspane.addEventListener('click', () => {
                navbar.classList.toggle("active");
                glasspane.classList.toggle("active");
            })

            /* Highlight active nav link */
            const activePage = window.location.href;
            document.querySelectorAll(".navbar-links a").forEach(link => {
                if (link.href === activePage) link.classList.add("active");
            })
        });
    </script>
</body>
</html>