<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cryptic Live</title>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- TODO: ELIMINATE THIS AFTER BOOTSTRAP DEPENDENCIES ARE REMOVED -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static '/css/new-style.css' %}">
</head>
<body>
    <header>
        <img class="logo" src="{% static '/images/crypticlive-black-logo.png' %}"  alt="Cryptic Live" />
        {% if user.is_authenticated %}
            <div class="header-group">
                <span class="current-user has-icon">{{ user.username }}</span>
                <a class="menu-toggle-button has-icon"></a>
            </div>
        {% endif %}
    </header>
    <div class="glasspane"></div>
    <div class="container">
        {% if user.is_authenticated %}
            <!-- NAVBAR -->
            <nav class="navbar">
                <ul class="navbar-links">
                    <li>
                        <a href="{% url 'home' %}"><span class="nav-link-home has-icon"></span>Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}"><span class="nav-link-editor has-icon"></span>Puzzle Editor</a>
                    </li>
                    <li>
                        <a href="{% url 'puzzles_list' %}"><span class="nav-link-puzzles has-icon"></span>All Puzzles</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}"><span class="nav-link-sessions has-icon"></span>Sessions</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}"><span class="nav-link-leaderboard has-icon"></span>Leaderboard</a>
                    </li>
                    <li>
                        <a href="{% url 'release_notes' %}"><span class="nav-link-notes has-icon"></span>Release Notes</a>
                    </li>
                    <li><hr /></li>
                    <li>
                        <a href="{% url 'account' %}"><span class="nav-link-account has-icon"></span>Account</a>
                    </li>
                    <li>
                        <a href="{% url 'change_password' %}"><span class="nav-link-pswd has-icon"></span>Change Password</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}"><span class="nav-link-logout has-icon"></span>Logout</a>
                    </li>
                </ul>
            </nav>
        {% endif %}

        {% if error_message %}
            <!-- FATAL ERROR MESSAGE -->
            <div id="flash-msg" class="alert alert-danger h4" role="alert">{{ error_message }}</div>
            <a href="{% url 'home' %}" class="btn btn-primary m-3">
               <i class="mr-2 fa fa-backward fa-lg" style="color:white"></i> Back to Dashboard
            </a>
        {% else %}
            <!-- MAIN CONTENT -->
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        {%  endif %}
    </div>
    <script>
        $(document).ready(function() {
            const toggleButton = document.getElementsByClassName("menu-toggle-button")[0];
            const navbar = document.getElementsByClassName("navbar")[0];
            const glasspane = document.getElementsByClassName("glasspane")[0];
            toggleButton.addEventListener('click', () => {
                navbar.classList.toggle("active");
                glasspane.classList.toggle("active");
            });
            glasspane.addEventListener('click', () => {
                navbar.classList.toggle("active");
                glasspane.classList.toggle("active");
            })
            // $('li.active').removeClass('active');
            // $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
        });

        function goBack() {
            {#var back = "{{ request.META.HTTP_REFERER }}";#}
            {#if (back === "") back = "/";#}
            window.location.href = '/';
        }
    </script>
</body>
</html>