{% extends "base.html" %}
{% block content %}
    <div class="d-inline-block">
        <div class="bg-light p-3">
            {% if clue_num == None %}
                <h2 class="mb-3">Delete Puzzle #{{ object.id }}</h2>
                <form method="post">
                {% csrf_token %}
                    <div class="mb-3">
                        This puzzle and all associated clues will be permanently <br />
                        deleted. This action cannot be undone.  Please confirm.
                    </div>
                    <button type='submit' class="btn btn-primary pl-3 pr-3">DELETE</button>
                    <a href="{% url 'home' %}" class="ml-2 btn btn-light pl-3 pr-3">CANCEL</a>
                </form>
            {% else %}
                <h2 class="mb-3">Delete Clue {{ clue_num }} for Puzzle #{{ object.id }}</h2>
                <form method="post">
                {% csrf_token %}
                    <div class="mb-3">
                        This clue will be permanently deleted. This<br/>
                        action cannot be undone. Note that clue numbers<br/>
                        will be adjusted to close gap. Please confirm.
                    </div>
                    <button type='submit' class="btn btn-primary pl-3 pr-3">DELETE</button>
                    <a href="{% url 'edit_puzzle' object.id %}" class="ml-2 btn btn-light pl-3 pr-3">CANCEL</a>
                </form>
            {% endif %}

        </div>
    </div>
{% endblock %}