{% extends "base.html" %}
{% block content %}
    {% if clue_num == None %}
        <div class="page-title">Delete Puzzle {{ object.id }}</div>
        <hr class="dark-line">
        <form method="post">
            {% csrf_token %}
            <div class="m-bot">
                This puzzle and all associated clues will be permanently <br/>
                deleted. This action cannot be undone. Please confirm.
            </div>
            <button type='submit' class="blue-btn">Delete</button>
            <a href="{% url 'my_puzzles' %}" class="gray-btn" role="button">Cancel</a>
        </form>
    {% else %}
        <div class="page-title">Delete Clue {{ clue_num }} for Puzzle {{ object.id }}</div>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                This clue will be permanently deleted. This<br/>
                action cannot be undone. Note that clue numbers<br/>
                will be adjusted to close gap. Please confirm.
            </div>
            <button type='submit' class="blue-btn">Delete</button>
            <a href="{% url 'edit_puzzle' object.id %}" class="gray-btn">Cancel</a>
        </form>
    {% endif %}
{% endblock %}