{% extends "base.html" %}
{% block content %}
    <div class="flex">
        <div class="page-title">Edit Puzzle</div>
        <a role="button" class="blue-btn r-float" href="{% url 'my_puzzles' %}">Done</a>
    </div>
    <hr class="dark-line">

    <div class="subtitle">Puzzle {{ object.id }}: {{ form.instance.get_type_display }}</div>
    <div class="small-text" id="timeLog"></div>
    <div class="flex m-top">
        <strong>Description:</strong>
        <button id="btnEditDesc" class="small-btn r-float">Edit</button>
    </div>
    <div class="boxed-panel m-bot"><span class="note-text">{{ object.desc }}</span></div>

    <div class="flex m-top"><strong>Clues [{{ object.total_points }} pts]:</strong>
        <div class="r-float">
            <button id="btnAddClues" class="small-btn">+ Clues</button>
            <button id="btnAddParsings" class="small-btn">+ Parsings</button>
        </div>
    </div>

    <!-- Edit description dialog -->
    <dialog class="modal-dialog" id="edit-desc-dialog">
        <div class="subtitle">Edit Description</div>
        <hr>
        <form action="{% url 'edit_puzzle' id %}" method="post">
            {% csrf_token %}
            {{ form.desc }}
            <button type="submit" class="blue-btn">Save</button>
            <button id="btnClose" formmethod="dialog">Cancel</button>
        </form>
    </dialog>

    <!-- Add Clues dialog -->
    <dialog class="modal-dialog" id="add-clues-dialog">
        <div class="subtitle">Edit Description</div>
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.desc }}
            <button type="submit" class="blue-btn">Save</button>
            <button id="btnClose" formmethod="dialog">Cancel</button>
        </form>
    </dialog>

    {% if clues|length == 0 %}
        <div class="note-text">No clues exist.</div>
    {% else %}
        <div class="note-text">
            To edit a clue click on the description. Hover over the<br/>
            clue or parsing to reveal a tooltip with full text.
        </div>
        <table class="table table-sm mt-3 p-0">
            <thead>
            <tr class="bg-secondary text-light">
                <th class="text-center">#</th>
                <th class="pl-1">Clue</th>
                <th class="text-right">Pts</th>
                <th></th>
            </tr>
            </thead>
            {% for clue in clues %}
                <tr>
                    <td class="p-0 pl-1 text-center">{{ clue.clue_num }}.</td>
                    <td class="p-0 pl-1">
                        <div class="text-wrap" style="line-height:normal; padding-top:2px">
                            <a class="text-primary" href="{% url 'edit_clue' object.id clue.clue_num %}"
                               title="{{ clue.get_decorated_clue_text }}">{{ clue.get_decorated_clue_text }}
                            </a>
                        </div>
                        <div class="h6 mt-1 text-secondary text-wrap">
                            <b>[{{ clue.answer }}]</b>
                            <span title="{{ clue.parsing }}">{{ clue.parsing }}</span>
                        </div>
                    </td>
                    <td class="p-0 text-right">{{ clue.points }}</td>
                    <td class="p-0 pl-2">
                        <a href="{% url 'delete_clue_confirm' id clue.clue_num %}">
                            <i class="fa fa-trash fa-lg ml-1" title="Delete"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <script>
        const editorName = "{{ object.editor }}";
        const userName = "{{ request.user }}";
        const utcCreatedAt = "{{ object.created_at|date:'Y-m-d H:i:s' }}";
        const utcModifiedAt = "{{ object.modified_at|date:'Y-m-d H:i:s' }}";

        function pageInit() {
            let timeLogString;
            timeLogString = getTimelogString(editorName, userName, utcCreatedAt, utcModifiedAt);
            document.getElementById("timeLog").innerHTML = timeLogString;
            bindModalDialogToButton("edit-desc-dialog", "btnEditDesc");
        }
    </script>
{% endblock %}