{% extends "base.html" %}
{% block content %}
    {% load static %}
    <h3>New Crossword Puzzle</h3>

    <!-- PAGE-SPECIFIC NAVBAR WITH GRID SIZE SELECTION, RESET AND SAVE -->
    <div class="bg-dark text-light rounded-lg p-2" style="width:700px">
        <span class="h6">Grid Size: </span>
        <select id="grid-size" class="p-1 ml-2">
          <option value=11>11 x 11</option>
          <option value=13>13 x 13</option>
          <option value=15 selected>15 x 15</option>
        </select>
        <button id="reset-grid" class="btn btn-sm ml-2 h6 btn-primary">Reset Grid</button>
        <span class="pt-2 ml-4 h6">Edit Mode: </span>
        <select id="edit-mode" class="ml-2 mr-1 p-1">
          <option value=1 selected>Select Squares to Block</option>
          <option value=2>Add words to grid</option>
          <option value=3>Add clues</option>
        </select>
        <span class="p-1 tip">
            <i class="far fa-question-circle fa-lg" style="color:silver;"></i>
            <span id="mode-tip" class="tiptext"></span>
        </span>
        <button id="save-grid" class="btn btn-sm h6 ml-3 btn-primary">Save Grid</button>
    </div>

    <!-- WORD & CLUE INPUT
    <div id="word-input" class="m-3" style="width:700px">
        <span id="word-ref" class="h6">1 Across:</span>
        <input type="text" id="grid-word" />
        <span class="p-1 tip">
            <i class="far fa-question-circle fa-lg" style="color:darkgray;"></i>
            <span id="mode-tip" class="tiptext">
                Words must contain only letters and no spaces. Make sure each word fits in the highlighted spaces.
            </span>
        </span>
        <button id="update-grid" type="button" class="ml-1 btn btn-sm btn-secondary">Update Grid</button>
        <span class="red-text ml-2">Hello</span>
    </div>
    -->

    <!-- EDIT MODE SELECTOR AND CROSSWORD GRID -->
    <div class="m-1 mt-2 pt-2">
        <!-- CROSSWORD GRID -->
        <div id="xw-grid"></div>
    </div>


    <hr />
    <script src="{% static '/javascript/crossword_editor.js' %}"></script>
    <script src="{% static '/javascript/crossword.js' %}"></script>
    <script>
        $(document).ready(function() {
            try {
                CrosswordEditor.setSizeSelectorId("grid-size");
                CrosswordEditor.setModeSelectorId("edit-mode");
                CrosswordEditor.setModeHelpId("mode-tip");
                CrosswordEditor.setResetBtnId("reset-grid");
                CrosswordEditor.initialize("xw-grid");
            } catch(e) {
                alert(e);
            }
        });
    </script>
{% endblock %}