{% extends "base.html" %}
{% block content %}
    {% load static %}
    <h3>New Crossword Puzzle</h3><br />

    <!-- PAGE-SPECIFIC NAVBAR WITH GRID SIZE SELECTION, RESET AND SAVE -->
    <div class="bg-light border border-dark rounded-lg shadow-sm p-2" style="width:700px">
        <span class="h6">Grid Size: </span>
        <select id="grid-size" class="p-1 ml-2">
          <option value=5>5 x 5</option>
          <option value=7>7 x 7</option>
          <option value=9>9 x 9</option>
          <option value=11>11 x 11</option>
          <option value=13>13 x 13</option>
          <option value=15 selected>15 x 15</option>
        </select>
        <button id="reset-grid" class="btn btn-sm ml-2 btn-primary rounded-lg">Reset Grid</button>
        <button id="save-grid" class="btn btn-sm ml-2 btn-primary rounded-lg">Save Crossword</button>
        <button id="delete-xword" class="btn btn-sm ml-2 btn-danger rounded-lg">Delete Crossword</button>
        <button id="home-btn" class="btn btn-sm ml-2 btn-dark rounded-lg">Back to List</button>
    </div>

    <div class="row m-0 mt-2" style="width:700px">
        <div class="col-* mt-2">

            <!-- EDIT MODE SELECTOR -->
            <span class="pt-2 h6">Edit Mode: </span><br />
            <select id="edit-mode" class="mt-1 p-1" style="width:180px !important;">
              <option value=1 selected>Select Cells to Block</option>
              <option value=2>Set words/clues</option>
            </select>
            <span class="p-1 tip">
                <i class="far fa-question-circle fa-lg" style="color:darkgray;"></i>
                <span id="mode-tip" class="tiptext"></span>
            </span>

            <!-- WORD & CLUE INPUT FORM -->
            <div id="clue-form" class="col mt-3 p-2" style="width:200px; border:1px solid silver; border-radius:5px;">
                <span id="clue-num" class="h6 pt-1"></span><br />
                <input id="clue-word" type="text" />
                <span id="clue-hint" class="pt-1 ml-1 h6 text-secondary"></span>
                <div class="mt-2">
                    <span class="h6 pt-1 col-*" style="width:80px">Enter Clue</span><br />
                    <textarea id="clue-text" rows="2" cols="22"></textarea>
                    <button id="clue-update" class="mt-2 p-2 badge badge-dark" style="height:30px">Update Grid</button>
                    <button id="clue-delete" class="mt-2 p-2 badge badge-danger" style="height:30px">Delete</button>
                </div>
                <span id="clue-msg" class="h6 pt-1 red-text"></span>
            </div>

        </div>
        <!-- CROSSWORD GRID -->
        <div class="col mt-2">
            <!-- CROSSWORD GRID -->
            <div id="xw-grid"></div>
        </div>
    </div>
    <hr />
    <script src="{% static '/javascript/crossword_editor.js' %}"></script>
    <script src="{% static '/javascript/crossword.js' %}"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
}       );
        $(document).ready(function() {
            try {
                new CrosswordEditor("xw-grid").initialize();
            } catch(e) {
                alert(e);
            }
        });
    </script>
{% endblock %}