{% extends "base.html" %}
{% block content %}
    <div class="flex">
        <div class="page-title">Edit Puzzle</div>
        <a class="r-float" href="{% url 'home' %}"><i class="fa-regular fa-circle-xmark fa-xl"></i></a>
    </div>
    <hr class="dark-line">

    <div class="subtitle">{{ object }}</div>
    <div class="font-xsmall" id="timeLog"></div>
    <div class="flex m-top">
        <strong>Description:</strong>
        <button id="btnEditDesc" class="small-btn r-float">Edit</button>
    </div>
    <div class="boxed-panel m-bot"><span class="note-text pre-line">{{ object.desc }}</span></div>

    <div class="flex m-top"><strong>Clues:</strong>
        <div class="r-float">
            <a class="small-btn" href="{% url 'add_clues' object.id %}">Add Clues</a>
        </div>
    </div>
    {% if clues|length < 5 %}
        <div class="clr-red font-small">NOTE: At least 5 clues needed to start a group session.</div>
    {% endif %}

    {% if clues|length == 0 %}
        <div class="note-text">No clues exist.</div>
    {% else %}
        <hr>
        <table style="width:100%">
            <tr>
                <th style="text-align:left">#</th>
                <th style="text-align:left">Clue</th>
                <th style="text-align:center">Pts</th>
                <th></th>
            </tr>
            {% for clue in clues %}
                <tr>
                    <td class="clue-num" style="vertical-align: top">{{ clue.clue_num }}.</td>
                    <td>
                        <a class="clue-text font-medium" href="{% url 'edit_clue' object.id clue.clue_num %}">
                            {{ clue.get_decorated_clue_text }}
                        </a>
                        <div class="answer font-xsmall">
                            Answer: {{ clue.answer.upper }}
                            {% if clue.parsing %}, Parsing: {{ clue.parsing }} {% endif %}
                        </div>
                    </td>
                    <td style="text-align:center; vertical-align: top" class="points">{{ clue.points }}</td>
                    <td style="vertical-align: top">
                        <a class="delete-btn" onclick="showDeleteConfirmDialog(this)"
                           data-puzzle-id="{{ object.id }}" data-clue-num="{{ clue.clue_num }}">
                            <i class="fa-regular fa-trash-can" title="Delete"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        {% if clues|length > 4 %}
            <button class="blue-btn" onclick="showPublishConfirmDialog(this)"
                    data-puzzle-id={{ object.id }} id="btnPublish">Publish Puzzle</button>
        {% endif %}
    {% endif %}

    <!-- Edit description dialog -->
    <dialog class="modal-dialog" id="edit-desc-dialog">
        <div class="subtitle">Edit Description</div>
        <hr>
        <form action="{% url 'edit_puzzle' object.id %}" method="post">
            {% csrf_token %}
            {{ form.desc }}
            <button type="submit" class="blue-btn">Save</button>
            <button id="btnClose" formmethod="dialog">Cancel</button>
        </form>
    </dialog>

    <script>
        const editorName = "{{ object.editor }}";
        const userName = "{{ request.user }}";
        const utcCreatedAt = "{{ object.created_at|date:'Y-m-d H:i:s' }}";
        const utcModifiedAt = "{{ object.modified_at|date:'Y-m-d H:i:s' }}";

        function pageInit() {
            let timeLogString;
            timeLogString = getTimelogString(editorName, userName, utcCreatedAt, utcModifiedAt);
            document.getElementById("timeLog").innerHTML = timeLogString;
            bindModalDialogToButton("edit-desc-dialog", "btnEditDesc");
            bindModalDialogToButton("confirm-dialog", "btnPublish");
        }

        function showPublishConfirmDialog(element) {
            const puzzleId = element.getAttribute("data-puzzle-id");
            const title = "Publish Puzzle " + puzzleId;
            const actionUrl = "/publish_puzzle/" + puzzleId + "/";
            const message = "This will make the puzzle accessible to all users to solve " +
                "in a single independent session. Editing will be restricted after publishing."
            showConfirmDialog(title, message, actionUrl);
        }

        function showDeleteConfirmDialog(element) {
            const puzzleId = element.getAttribute("data-puzzle-id");
            const clueNum = element.getAttribute("data-clue-num");
            const title = "Delete Clue #" + clueNum + " for Puzzle " + puzzleId;
            const actionUrl = "/delete_clue/" + puzzleId + "/" + clueNum + "/";
            const message = "This clue will be permanently deleted. This action cannot be undone. Please confirm.";
            showConfirmDialog(title, message, actionUrl);
        }
    </script>
{% endblock %}