{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="page-title">Dashboard</div>
    <hr class="dark-line">

    <!-- Notifications Section -->
    <div class="boxed-panel bg-lemon m-top">
        <div class="subtitle"><i class="fa-solid fa-bell r-space"></i>My Notifications</div>
        <hr>
        <div class="note-text">No notifications to report.</div>
    </div>
    <br>

    <!-- Draft Puzzles Section -->
    <div class="boxed-panel bg-gray m-top">
        <div class="flex">
            <i class="fa-solid fa-compass-drafting r-space"></i>
            <div class="subtitle">My Draft Puzzles</div>
            <button id="btnCreatePuzzle" class="blue-btn r-float">Create Puzzle</button>
        </div>
        <hr>
        {% if draft_puzzles|length == 0 %}
            <div class="note-text">No draft puzzles.</div>
        {% else %}
            <!-- Loop through draft puzzles -->
            {% for puzzle in draft_puzzles %}
                <div class="list-badge bg-white">
                    <!-- Puzzle type thumbnail -->
                    <img class="thumbnail"
                         src="{% static puzzle.type|yesno:'/images/cryptic-clues.jpg,/images/non-cryptic-clues.png' %}"
                         title="{{ puzzle.type_text }}" alt="{{ puzzle.type_text }}" >
                    <!-- Puzzle info (title and last edited on -->
                    <div class="truncated-text">
                        <a class="bold-text font-small" href="/edit_puzzle/{{ puzzle.id }}/">{{ puzzle.title }}</a>
                        <div class="font-xsmall bold-text ellipsis">{{ puzzle.desc }}</div>
                        <div class="font-xsmall">
                            Last edited on <span class="timestamp">{{ puzzle.utc_modified_at }}</span>
                        </div>
                    </div>
                    <div class="icon-group r-float">
                        <a class="icon-btn delete-btn" >
                            <i data-id="{{ puzzle.id }}"
                               class="fa-regular fa-trash-can" title="Delete">
                            </i>
                        </a>
                    </div>
                </div>
            {% endfor %}
{#            <div id="drafts-list" class="m-top">#}
{#            </div>#}
        {% endif %}
    </div>

    <!-- New Puzzle Dialog -->
    <dialog class="modal-dialog" id="new-puzzle-dialog">
        <div class="subtitle">New Puzzle</div>
        <hr>
        <form action="{% url 'new_puzzle' %}" method="post">
            {% csrf_token %}
            <table>{{ form.as_table }}</table>
            <button type="submit" class="blue-btn">Create Puzzle</button>
            <button id="btnClose" formmethod="dialog">Cancel</button>
        </form>
    </dialog>

    <script>
        {#const draftPuzzles = {{ draft_puzzles | safe }};#}
        {#const imgDirPath = "{% static '/images/' %}";#}
        {#const baseUrl = "{{ request.get_host }}";#}

        function pageInit() {
            bindModalDialogToButton("new-puzzle-dialog", "btnCreatePuzzle");
            addHandlerToDeleteButton();
            convertUTCDatesToLocal("timestamp")
        }

        function addHandlerToDeleteButton() {
            const deleteBtns = document.getElementsByClassName("delete-btn");
            for (let i = 0; i < deleteBtns.length; i++)
                deleteBtns[i].addEventListener('click', showDeleteConfirmDialog);
        }

        function convertUTCDatesToLocal(className) {
            const dates = document.getElementsByClassName(className);
            for (let i = 0; i < dates.length; i++)
                dates[i].innerText = new Date(dates[i].innerText).toLocaleString();
        }

        function showDeleteConfirmDialog(event) {
            const element = event.target
            const dialog = document.getElementById("confirm-dialog")
            const puzzleId = element.getAttribute("data-id");
            const url = "/delete_puzzle/" + puzzleId + "/";
            dialog.getElementsByClassName("confirm-dialog-form")[0].setAttribute('action', url)
            dialog.getElementsByClassName("subtitle")[0].textContent =
                "Delete Puzzle " + puzzleId;
            dialog.getElementsByClassName("confirm-dialog-message")[0].textContent =
                "This puzzle and all associated clues will be permanently deleted " +
                "This action cannot be undone. Please confirm."
            dialog.showModal();
        }
    </script>
{% endblock %}
