{% extends "base.html" %}
{% block content %}
    <h2 class="pl-2">Dashboard</h2>
    <div class="d-inline-block">
    <div class="m-2 bg-light p-4 d-block">
        <h3>Scheduled group puzzle sessions</h3>
        <div class="notetext">No sessions scheduled</div>
    </div>

    <div class="m-2 bg-light p-4 d-block">
        <h3>My unpublished puzzles</h3>
        <div class="mt-4">
            <a role="button" href="{%  url 'new_xword_puzzle' %}" class="btn btn-primary p-2">New Crossword</a>
        </div>
        <div class="table-responsive" style="width:500px">
            <table id="puzzle-list" class="mt-4 table table-sm table-striped">
                <thead class="thead-dark">
                    <tr><th>Puzzle</th><th>Editor</th><th>Status</th><th>Action</th></tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="m-2 bg-light p-4 d-block">
        <h3>Puzzles published in last 7 days</h3>
        <div class="notetext">No puzzles have been published</div>
    </div>
    </div>
    <script>
        var puzzleList, currentUser;

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
}       );

        $(document).ready(function() {
            puzzleList = {{ data | safe }};
            currentUser = '{{ user.username }}';
            try {
                var row;
                for (var i = 0; i < puzzleList.length; i++) {
                    row = $("<tr></tr>");
                    row.append($("<td>"+puzzleList[i]['name']+"</td>"));
                    row.append($("<td>"+puzzleList[i]['editor']+"</td>"));
                    row.append(getStatus(puzzleList[i]));
                    row.append(getActions(puzzleList[i]));
                    $("#puzzle-list").append(row);
                }
            } catch(e) {
                alert(e)
            }
        });

        function getStatus(puzzleItem) {
            var dateString = new Date(puzzleItem['modified_at']).toString();
            var td = $("<td></td>").attr("title","Last Edited: "+dateString);
            td.text("Under Construction");
            return td;
        }

        function getActions(puzzleItem) {
            var td = $("<td></td>");
            if ( currentUser === puzzleItem['editor'] ) {
                var link = "/edit_puzzle/" + puzzleItem['id'] + "/";
                var icon = $("<i></i>").addClass("fas fa-edit fa");
                var anchor = $("<a></a>").attr("href", link).attr("title","Edit").html(icon);
                td.html(anchor);
            }
            return td;
        }
    </script>
{% endblock %}