{% extends "base.html" %}
{% block content %}

    <div class="tabgroup">
        <input type="radio" id="tabSignIn" name="tabgroup" checked="checked">
        <label for="tabSignIn">Sign In</label>
        <div class="tabcontent">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <table class="form-table">{{ form.as_table }}</table>
                <div class="m-2">
                    <button type="submit" class="btn-sm btn-primary float-left">Login</button>
                </div>
            </form>
        </div>

        <input type="radio" id="tabNewUser" name="tabgroup">
        <label for="tabNewUser">New User</label>
        <div class="tabcontent">
            <h1>Tab 2</h1>
            <!--
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <div class="m-2">
                    <button type="submit" class="btn-sm btn-primary float-left">Sign Up</button>
                </div>
            </form>
            -->
        </div>
    </div>
{% endblock %}