{% extends "base.html" %}
{% block content %}
    <div class="m-2 bg-light p-4 d-inline-block">
        <h2 class="pb-2">Sign In</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <table>{{ form.as_table }}</table>
            <div class="ml-0 mt-2">
                <button type="submit" id="btnSignIn" class="btn btn-primary">SIGN IN</button>
            </div>
        </form>
        <hr>
        New User?
        <a href="{% url 'signup' %}" id="lnkSignUp" class="btn-sm btn-dark mr-2">Sign Up</a>|
        Forgot Password?
        <a href="{% url 'password_reset' %}" id="lnkReset" class="btn-sm btn-dark ml-2">Reset Password</a>
    </div>
{% endblock %}