{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="flex">
        <div class="page-title">My Puzzles</div>
        <button id="btnAddPuzzle" class="blue-btn r-float">Add Puzzle</button>
    </div>
    <hr class="dark-line">

    <!-- Tabs -->
    <nav class="nav-tabs">
        <ul>
            <li id="drafts-tab" class="active">Drafts</li>
            <li id="scheduled-tab">Scheduled</li>
            <li id="published-tab">Published</li>
        </ul>
    </nav>

    <!-- Draft Puzzles tab content -->
    <div id="drafts-list" class="tab-content active-tab drafts-tab"></div>

    <!-- Scheduled Puzzles tab content -->
    <div id="scheduled-list" class="tab-content scheduled-tab"></div>

    <!-- Published Puzzles tab content -->
    <div id="published-list" class="tab-content published-tab"></div>

    <!-- New Puzzle Dialog -->
    <dialog class="modal-dialog" id="new-puzzle-dialog">
        <div class="subtitle">New Puzzle</div>
        <hr>
        <form action="{% url 'new_puzzle' %}" method="post">
            {% csrf_token %}
            <table>{{ form.as_table }}</table>
            <button type="submit" class="blue-btn">Create Puzzle</button>
            <button id="btnClose" formmethod="dialog">Cancel</button>
        </form>
    </dialog>

    <script src="{% static '/javascript/puzzles_list_builder.js' %}"></script>
    <script>
        const draftPuzzles = {{ draft_puzzles | safe }};
        const imgDirPath = "{% static '/images/' %}";
        const baseUrl = "/edit_puzzle";

        function pageInit() {
            document.querySelectorAll(".nav-tabs li").forEach(tab => {
                tab.addEventListener('click', (event) => {
                    activateTab(event);
                });
            });

            function activateTab(event) {
                document.querySelector(".nav-tabs li.active").classList.remove("active");
                document.querySelector(".tab-content.active-tab").classList.remove("active-tab");
                event.target.classList.add("active");
                document.querySelector("." + event.target.id).classList.add("active-tab");
            }

            bindModalDialogToButton("new-puzzle-dialog", "btnAddPuzzle");
            try {
                let builder = new PuzzlesListBuilder(draftPuzzles, imgDirPath, baseUrl);
                builder.showList("drafts-list");
            } catch (e) {
                console.log(e);
            }
        }
    </script>
{% endblock %}