{% extends "base.html" %}
{% block content %}
    <div class="page-title">My Puzzles</div>
    <hr class="dark-line">

    <!-- Tabs -->
    <nav class="nav-tabs">
        <ul>
            <li id="drafts-tab" class="active">Drafts</li>
            <li id="scheduled-tab">Scheduled</li>
            <li id="published-tab">Published</li>
        </ul>
    </nav>

    <!-- Draft Puzzles tab content -->
    <div class="tab-content active-tab drafts-tab">
        <div class="subtitle">My Draft Puzzles</div><br>
        <button id="btnNewPuzzle" class="blue-btn">New Puzzle</button>
    </div>

    <!-- Scheduled Puzzles tab content -->
    <div class="tab-content scheduled-tab">
        <div class="subtitle">My Scheduled Puzzles</div>
        <div class="notetext">Puzzles scheduled for a live session</div>
    </div>

    <!-- Published Puzzles tab content -->
    <div class="tab-content published-tab">
        <div class="subtitle">My Published Puzzles</div>
    </div>

    <!-- New Puzzle Dialog -->
    <dialog class="modal-dialog" id="new-puzzle-dialog">
        <div class="subtitle">New Puzzle</div>
        <hr>
        <form action="{% url 'new_puzzle' %}" method="post">
            {% csrf_token %}
            <table>{{ form.as_table }}</table>
            <button type="submit" class="blue-btn">Create Puzzle</button>
            <button id="btnClose" formmethod="dialog">Cancel</button>
        </form>
    </dialog>

    <script>
        document.querySelectorAll(".nav-tabs li").forEach(tab => {
            tab.addEventListener('click', (event) => { activateTab(event); });
        });

        bindModalDialogToButton("new-puzzle-dialog", "btnNewPuzzle");

        function activateTab(event) {
            document.querySelector(".nav-tabs li.active").classList.remove("active");
            document.querySelector(".tab-content.active-tab").classList.remove("active-tab");
            event.target.classList.add("active");
            document.querySelector("." + event.target.id).classList.add("active-tab");
        }
    </script>
{% endblock %}