<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Word Puzzles</title>

    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link type="text/css" rel="stylesheet" href="{% static '/css/new-style.css' %}">
</head>
<body>
        <header>
            <img src="{% static '/images/crypticlive-black-logo.png' %}"  alt="Cryptic Live"/>
            {% if user.is_authenticated %}
                <div>
                    <i class="fa fa-user fa-lg" style="color:silver"></i>
                    <span class="text-light">{{ user.username }} </span>&nbsp;
                </div>
            {% endif %}
        </header>

        <!-- NAVBAR -->
        <nav class="navbar navbar-expand navbar-dark bg-dark pl-1">
            {% if user.is_authenticated %}
              <div class="collapse-sm navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-0">
                  <li class="nav-item p-0 active">
                    <a class="nav-link" href="{% url 'home' %}" title="Dashboard">
                        <i class="fa fa-home fa-lg" style="color:white"></i>
                        <span class="sr-only">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item p-0">
                    <a class="ml-2 nav-link" href="{% url 'puzzles_list' %}" title="All Puzzles">
                        <i class="fa fa-list fa-lg" style="color:white"></i>
                    </a>
                  </li>
                  <li class="nav-item p-0">
                    <a class="ml-2 nav-link" href="#" title="Leaderboard">
                        <i class="fa fa-trophy fa-lg" style="color:white"></i>
                    </a>
                  </li>
                  <li class="nav-item dropdown ml-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Settings
                    </a>
                    <div class="dropdown-menu my-2" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'account' %}">Account</a>
                      <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>
                </ul>
              </div>
            {% endif %}
        </nav>
    </div>
    <hr style="margin:0; padding:0; border-top:4px solid darkorange">
    {% if error_message %}
        <!-- FATAL ERROR MESSAGE -->
        <div id="flash-msg" class="alert alert-danger h4" role="alert">{{ error_message }}</div>
        <a href="{% url 'home' %}" class="btn btn-primary m-3">
           <i class="mr-2 fa fa-backward fa-lg" style="color:white"></i> Back to Dashboard
        </a>
    {% else %}
        <!-- MAIN CONTENT -->
        <div class="container-sm mt-2 ml-0 text-dark" style="width:400px">
            {% block content %}{% endblock %}
        </div>
    {% endif %}
    <script>
        $(document).ready(function() {
            $('li.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
        });

        function goBack() {
            {#var back = "{{ request.META.HTTP_REFERER }}";#}
            {#if (back === "") back = "/";#}
            window.location.href = '/';
        }
    </script>
</body>
</html>