{% extends "base.html" %}
{% block content %}
    <div class="form-box" style="width:340px">
        <h5>New User Registration</h5>
        <form action="{% url 'new_user' %}" method="post">
            {% csrf_token %}
            <hr />
            <table class="form-table">
                {{ form.as_table }}
            </table>
            <hr />
            <div class="m-2">
                <button type="submit" class="btn-sm btn-primary float-left">Register</button>
                <a role="button" href="{% url 'login' %}" class="btn-sm btn-secondary float-right">Already Registered</a>
            </div>
            <div style="clear:both"></div>
        </form>
    </div>
{% endblock %}