{% extends "base.html" %}
{% block content %}
    {% if not user.is_authenticated %}
        {% url 'password_reset_complete' as reset_url %}
        {% if request.path != reset_url %}
            <div class="page-title">Enter New Password</div>
            <hr class="dark-line">
            <form id="password-reset-form" method="post">
                {% csrf_token %}
                <table>{{ form.as_table }}</table>
                <button type="submit" id="btnReset" class="blue-btn">Reset Password</button>
                <a role="button" class="gray-btn" href="{% url 'login' %}" id="lnkSignIn">Cancel</a>
            </form>
        {% else %}
            <div class="page-title">Password Reset Complete</div>
            <hr class="dark-line">
            <p>Your password has been reset successfully.</p>
            <a href="{% url 'login' %}" id="lnkSignIn" class="blue-btn">Sign In</a>
        {% endif %}
        <hr class="dark-line">
    {% else %}
        <script>
            window.location.replace("{% url 'home' %}")
        </script>
    {% endif %}
{% endblock %}