{% extends "base.html" %}
{% block content %}
    <div class="bg-light p-3 d-inline-block">
        {% if not user.is_authenticated %}
            {% url 'password_reset_complete' as reset_url %}
            {% if request.path != reset_url %}
                <h2 class="pb-2">Enter new password</h2>
                <form method="post">
                    {% csrf_token %}
                    <table>{{ form.as_table }}</table>
                    <div class="ml-0 mt-2">
                        <button type="submit" id="btnReset" class="btn btn-primary">RESET PASSWORD</button>
                        <a href="{% url 'login' %}" id="lnkSignIn" class="btn btn-light">CANCEL</a>
                    </div>
                </form>
            {% else %}
                <h2 class="pb-2">Password reset complete</h2>
                <p>
                    Your password has been reset successfully. You can go ahead and login now.
                </p>
                <a href="{% url 'login' %}" id="lnkSignIn" class="btn btn-dark">SIGN IN</a>
            {% endif %}
        {% else %}
            <script>
                window.location.replace("{% url 'home' %}")
            </script>
        {% endif %}
    </div>
{% endblock %}