{% extends "base.html" %}
{% block content %}
    {% if not user.is_authenticated %}
        {% url 'password_reset' as reset_url %}
        {% if request.path == reset_url %}
            <div class="page-title">Reset Password</div>
            <hr class="dark-line">
            <form action="{% url 'password_reset' %}" method="post">
                <p>
                    Forgot your password? Enter your email address below, and <br/>
                    we'll email reset instructions.
                </p>
                {% csrf_token %}
                <table>{{ form.as_table }}</table>
                <button type="submit" id="btnReset" class="blue-btn">Send Email</button>
                <a href="{% url 'login' %}" id="lnkSignIn">Cancel</a>
            </form>
            <hr class="dark-line">
        {% else %}
            <div class="page-title">Password Reset Email Sent</div>
            <hr class="dark-line">
            <p>
                We've emailed you instructions for resetting your password, <br/>
                if an account exists with the email you entered. If you don't <br/>
                receive an email, please make sure you've entered the address <br/>
                you registered with, and check your spam folder.
            </p>
            <a href="{% url 'password_reset' %}" id="lnkReset" class="blue-btn">Re-enter Email</a>
            <hr class="dark-line">
        {% endif %}
    {% else %}
        <script>
            window.location.replace("{% url 'home' %}")
        </script>
    {% endif %}
{% endblock %}