{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="page-title">Published Puzzles</div>
    <hr class="dark-line">
    <form class="font-small" method="get">
        {% csrf_token %}
        {{ form.as_table }}
    </form>
    <div class="note-text m-top">
        Click on the puzzle title to solve or preview the puzzle.
    </div>
    <hr>
    {% if object_list|length == 0 %}
        <div class="note-text">No published puzzles.</div>
    {% else %}
        <!-- Loop through puzzles -->
        {% for puzzle in object_list %}
            <div class="list-badge bg-gray">
                <!-- Puzzle type thumbnail -->
                <img class="thumbnail"
                     src="{% static puzzle.type|yesno:'/images/cryptic-clues.jpg,/images/non-cryptic-clues.png' %}"
                     alt="{{ puzzle.type_text }}"/>
                <!-- Puzzle info (title and last edited on) -->
                <div class="truncated-text w-100">
                    <a class="bold-text font-small" href="/puzzle_session/{{ puzzle.id }}/">{{ puzzle }}</a>
                    <div class="font-xsmall bold-text ellipsis">{{ puzzle.desc }}</div>
                    <div class="font-xsmall">Posted by <b>
                        {% if puzzle.editor == request.user %}
                            <span class="black-pill">ME</span>{% else %}{{ puzzle.editor }}{% endif %}
                    </b> on
                        <span class="timestamp">{{ puzzle.shared_at|date:'Y-m-d H:i:s' }}</span>
                    </div>
                </div>
                <div class="icon-group r-float">
                    <div>
                        {% if puzzle.status == 2 %}
                            <i title="Completed" class="fa-solid clr-green fa-circle-check"></i>
                        {% elif puzzle.status == 1 %}
                            <i title="Incomplete" class="fa-solid clr-red fa-circle-minus"></i>
                        {% endif %}
                    </div>
                    {% if puzzle.other_sessions > 0 %}
                        <div><a href="{% url 'puzzle_score' puzzle.id %}">
                            <i title="Scores" class="fa-solid fa-trophy"></i>
                        </a></div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <hr>
        <div class="pagination font-small">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">| Previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">| Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <script>
        function pageInit() {
            convertUTCDatesToLocal("timestamp")
        }
    </script>
{% endblock %}