{% extends "base.html" %}
{% block content %}
    <div class="flex">
        <div class="page-title">Puzzle Session Scores</div>
        <a class="r-float" href="{% url 'puzzles_list' %}"><i class="fa-regular fa-circle-xmark fa-xl"></i></a>
    </div>
    <hr class="dark-line">
    <div class="subtitle">{{ object }}</div>
    <div class="font-xsmall" id="timelog">Posted by <b>
        {% if object.editor == request.user %}<span class="black-pill">ME</span>
        {% else %}{{ object.editor }}{% endif %}</b> on
        <span class="timestamp">{{ object.shared_at|date:'Y-m-d H:i:s' }}</span>
    </div>
    <div class="note-text m-top">NOTE: Scores are for all individual sessions of this puzzle.</div>
    {% if sessions == None %}
        <div class="note-text m-top m-bot">No sessions found for this puzzle.</div>
    {% else %}
        {% for session in sessions %}
            <div class="list-badge bg-gray">
                <div class="l-space font-medium truncated-text">
                    {% if session.solver == request.user %}
                        <span class="black-pill">ME</span>
                    {% else %}
                        <span class="bold-text ellipsis">{{ session.solver }}</span>
                    {% endif %}
                    <div class="font-small bold-text">
                        <!-- Solved & Revealed counts -->
                        <i class="fa-solid fa-check clr-green fa-xs"> {{ session.solved }} solved | </i>
                        <i class="fa-solid fa-eye clr-grey fa-xs"> {{ session.revealed }} revealed </i>
                    </div>
                </div>
                <div class="r-float">
                    <!-- Session score -->
                    <span class="font-xlarge bold-text r-float r-space">{{ session.score }}</span>
                    <!-- Session status -->
                    {% if session.finished_at != None %}
                        <i class="fa-solid fa-circle-check clr-green fa-lg"></i>
                    {% else %}
                        <i class="fa-solid fa-circle-minus clr-red fa-lg"></i>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
{#                <hr>#}
{#                <table class="table table-sm">#}
{#                    <thead>#}
{#                    <tr class="bg-dark text-light">#}
{#                        <th class="p-1">Puzzler</th>#}
{#                        <th class="p-1">Progress</th>#}
{#                        <th class="p-1 text-right">Score [Time]</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for score_record in scores %}#}
{#                        <tr>#}
{#                            <td class="pb-0">{{ score_record.user }}</td>#}
{#                            <td class="pb-0">#}
{#                                <div class="progress col mt-1 border border-secondary p-0"#}
{#                                     style="width:100%; height:12px">#}
{#                                    <div class="progress-bar bg-success" role="progressbar" title="Solved"#}
{#                                         style="width:{{ score_record.perc_solved }}; font-size:8px;">#}
{#                                    </div>#}
{#                                    <div class="progress-bar bg-secondary" role="progressbar" title="Revealed"#}
{#                                         style="width:{{ score_record.perc_revealed }}; font-size:8px;">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </td>#}
{#                            <td class="text-right pb-0">#}
{#                                {% if score_record.is_complete %}#}
{#                                    <i class="fa fa-check-circle text-success"></i>#}
{#                                {% endif %}#}
{#                                <b>{{ score_record.score }}</b> [<b>{{ score_record.elapsed_time }}</b>]#}
{#                            </td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td colspan="3" class="m-0 p-0 text-right pr-1" style="border:0; font-size:9px;">#}
{#                                Solved:{{ score_record.num_solved }} | Revealed:{{ score_record.num_revealed }} |#}
{#                                Last seen: {{ score_record.modified_at|date:'m/d/y h:i:s A' }} (GMT)#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#                <hr>#}
    {% endif %}

    <script>
        function pageInit() {
            convertUTCDatesToLocal("timestamp")
        }
    </script>
{% endblock %}