{% extends "base.html" %}
{% block content %}
    <h2 class="pb-0 mb-2 mt-2">All Published Puzzles</h2>
    <div class="bg-light p-3">
        <div>
            <form method = "get">
            {{ form.as_table }}
            </form>
        </div>
        <div class="mb-2 notetext">
            Hover over the puzzle title to see description pop-up. Click on the title link to solve or preview the puzzle.
        </div>
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th class="pl-1">Puzzle Details</th>
                    <th style="width:65px;"></th>
                </tr>
            </thead>
            <tbody>
            {% for puzzle in object_list %}
                <tr>
                    <td style="line-height:18px;" class="p-2">
                        <a class="text-primary" href="{% url 'preview_puzzle' puzzle.id %}" title='{{ puzzle.desc }}'>
                            <b>{{ puzzle }}</b>
                        </a><br />
                        <span class="h6">Posted by:
                            {% if puzzle.editor != request.user %}
                                <b>{{ puzzle.editor }}</b>
                            {% else %}
                                <span class="bg-secondary p-1 rounded text-white">ME</span>
                            {% endif %} on {{ puzzle.shared_at|date:'M d, Y' }} (GMT)
                        </span>
                    </td>
                    <td>
                        <div class="d-block">
                            {% if puzzle.editor == request.user %}
                                <a class="btn border-secondary p-0" href="{% url 'preview_puzzle' puzzle.id %}"
                                    title="VIEW" style="width:25px"><i class="fa fa-eye"></i>
                                </a>
                            {% else %}
                                <a class="btn border-secondary p-0" href="{% url 'preview_puzzle' puzzle.id %}"
                                    title="SOLVE" style="width:25px"><i class="fa fa-hourglass-2"></i>
                                </a>
                            {% endif %}
                            <a class="btn border-secondary p-0" href="{% url 'puzzle_score' puzzle.id %}"
                                title="SCORES" style="width:25px"><i class="fa fa-crown"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr class="mb-1">
        <div class="ml-1 mt-1 pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">| Previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">| Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}