{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- PAGE TITLE & DONE BTN -->
    <div class="flex">
        <div class="page-title">Puzzle Session</div>
        <a class="r-float" href="{% url 'puzzles_list' %}"><i class="fa-regular fa-circle-xmark fa-xl"></i></a>
    </div>
    <hr class="dark-line">
    <!-- PUZZLE INFO (TITLE AND TIMELOG) -->
    <div class="subtitle">{{ puzzle }}</div>
    <div class="font-xsmall" id="timelog">
        Posted by {{ puzzle.editor }} on <span class="timestamp">{{ puzzle.shared_at|date:'Y-m-d H:i:s' }}</span>
    </div>
    <!-- DESCRIPTION LABEL & SHOW/HIDE TOGGLE BUTTON -->
    <div class="flex m-top">
        <div class="font-small bold-text">Description:</div>
        <a id="btnToggleDesc" class="icon-btn r-float" title="Show/Hide Toggle">
            <i class="fa-regular fa-square-caret-up"></i>
        </a>
    </div>
    <!-- DESCRIPTION PANEL -->
    <div id="desc-panel" class="boxed-panel m-bot"><span class="note-text pre-line">{{ puzzle.desc }}</span></div>
    <hr>

    {% if session is None %}
        <!-- START SESSION BUTTON & NOTE -->
        <div class="m-top">
            <form method="post" action="{% url 'puzzle_session' puzzle.id %}">
                {% csrf_token %}
                <button class="blue-btn" id="startSessionBtn" type="submit">Start Individual Solve Session</button>
            </form>
            <div class="note-text font-xsmall m-top">
                Note: This will start an individual solve session and record your scores.
                You can pause and resume the session until you finish all the clues.
            </div>
        </div>
    {% else %}
        <!-- SESSION PANEL -->
            <div id="session-panel"
                 class="boxed-panel {% if session.finished_at is None %}bg-lemon{% else %}bg-green{% endif %}">
                <div class="subtitle font-medium flex">
                    Session Status: <span id="session-status">
                        {% if session.finished_at is None %}
                            In Progress <i title="Incomplete" class="fa-solid clr-red fa-hourglass"></i>
                        {% else %}
                            Completed <i title="Completed" class="fa-solid clr-green fa-circle-check"></i>
                        {% endif %}
                    </span>
                    <span id="score" class="subtitle font-medium r-float">My Score: {{ session.score }}</span>
                </div>
                <div class="note-text font-xsmall flex">
                    Started: <span id="start-time" class="timestamp">{{ session.started_at|date:'Y-m-d H:i:s' }}</span>
                    <span id="solved-count" class="r-float">Solved Clues: {{ session.solved }}</span>
                </div>
                <div class="note-text font-xsmall flex">
                    Ended:
                    {% if session.finished_at is not None %}
                        <span id="end-time" class="timestamp">{{ session.finished_at|date:'Y-m-d H:i:s' }}</span>
                    {% endif %}
                    <span id="revealed-count" class="r-float">Revealed Clues: {{ session.revealed }}</span>
                </div>
            </div>

        <!-- CLUES LIST -->
        <div class="font-xsmall m-top">
            NOTE: Click on a clue to enter your answer. Click on the eye icon to reveal the answer.
            Revealed answers do not earn points.
        </div>
        <div id="clues-list">
            <table style="width:100%" class="font-small">
                <tr >
                    <th></th>
                    <th style="text-align:left">#</th>
                    <th style="text-align:left">Clue</th>
                    <th style="text-align:center">Pts</th>
                    <th></th>
                </tr>
                {% for clue in clues %}
                    <tr>
                        <td></td>
                        <td class="clue-num" style="vertical-align: top">{{ clue.clue_num }}.</td>
                        <td>
                            {% if clue.state == 0 %}
                                <a class="clue-text" data-id="{{ clue.clue_num }}" onclick="clueTextClicked(this)">
                                    {{ clue.clue_text }}
                                </a>
                            {% else %}
                                <span class="clue-text clr-grey">{{ clue.clue_text }}</span>
                                <span class="answer clr-grey">
                                    [ {{ clue.answer.upper }}
                                    {% if clue.parsing %}, Parsing: {{ clue.parsing }} {% endif %}]
                                </span>
                            {% endif %}
                        </td>
                        <td style="text-align:center; vertical-align: top" class="points">{{ clue.points }}</td>
                        <td style="vertical-align: top">
                            {% if clue.state == 0 %}
                                <a class="reveal-btn" data-id="{{ clue.clue_num }}" onclick="revealClicked(this)">
                                    <i class="fa-regular fa-eye fa-lg" title="Reveal"></i>
                                </a>
                            {% elif clue.state == 1 %}
                                <i class="fa-solid fa-check fa-lg clr-green" title="Solved"></i>
                            {% else %}
                                <i class="fa-solid fa-eye fa-lg clr-grey" title="Revealed"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}

    <!-- MODAL DIALOG FOR ANSWER INPUT -->
    <dialog class="modal-dialog font-medium" id="answer-dialog">
        <div class="subtitle">Solve Clue</div>
        <hr>
        <!-- FORM CONTENT -->
        <div class="m-top m-bot">
            <span id="clue-num"></span>. <span id="clue-text"></span>
        </div>
        <label for="answer-input">Answer:</label>
        <input type="text" size="25" id="answer-input" name="answer-input">
        <div class="helptext">NOTE: Letters, spaces and hyphen only.</div>
        <div id="err-msg" class="font-small clr-red m-bot m-top"></div>
        <hr>
        <button id="btnSubmit" class="blue-btn">Submit</button>
        <button id="btnClose">Cancel</button>
    </dialog>

    <script>
        const csrfToken = "{{ csrf_token }}";
        const sessionId = {% if session %}{{ session.id }}{% else %}null{% endif %};
        const puzzleId = {{ puzzle.id }};
    </script>
    <script src="{% static '/javascript/puzzle_session.js' %}"></script>
{% endblock %}