{% extends "base.html" %}
{% block content %}
<div class="page-title">Release Notes</div>
<hr class="dark-line">

    <div class="epic-title">User Authentication [2023.05.09]</div>
    <ul class="feature-list">
        <li>New users can <b>Sign Up</b> using a username, password and email address. The username must be unique
            and is not case-sensitive.  This will be visible to others, so use your first name or full name as
            username (no spaces). The email address must also be unique and will be used for notifications.</li>
        <li>Registered users can <b>Log In</b> with their username and password. On successful login, users are
            directed to the Dashboard page.</li>
        <li>Users can <b>Reset Password</b> if they forgot the password.  An email is sent with a link which they
            can use to reset the password.</li>
        <li>Once signed in, users can edit their <b>Account Settings</b> including username, email, first and last name.</li>
        <li>Users can also <b>Change Password</b>, if needed.</li>
    </ul>

    <div class="epic-title">Responsive Web Interface [2023.05.09]</div>
    <ul class="feature-list">
        <li>The web interface is responsive and adapts to the device's viewport such as large monitors, laptops,
            tablets and phones.</li>
        <li>On larger devices, a side menu is displayed that provides access to all the features.</li>
        <li>On smaller devices, the side menu can be accessed using the <i class="fa-solid fa-bars"></i> icon
            on top right of the screen.</li>
        <li>Clicking on the CrypticLive logo always navigates to the home page (Dashboard)</li>
    </ul>

<hr class="dark-line">
{% endblock %}