{% extends "base.html" %}
{% block content %}
    <div class="page-title">Solve Puzzle</div>
    <hr class="dark-line">
    <div class="subtitle">{{ object }}</div>
    <div class="font-xsmall">
        Posted by {{ object.editor }} on {{ object.shared_at }}
    </div>

    <div class="flex font-small">
        <div>
            <input type="checkbox" value="" id="hideDesc" checked>
            <label for="hideDesc">Hide Description</label>
        </div>
        <div class="r-float">
            <input type="checkbox" value="" id="hideSolved" checked>
            <label for="hideSolved">Hide Solved Clues</label>
        </div>
    </div>
    <strong>Description:</strong>
    <div class="boxed-panel m-bot"><span class="note-text pre-line">{{ object.desc }}</span></div>

    <script>
        function pageInit() {

        }
        $(document).ready(function () {
            $('#showAnswers').change(function () {
                if (this.checked) $('.answer').show();
                else $('.answer').hide();
            })
        })
    </script>
{% endblock %}