{% extends "base.html" %}
{% block content %}
    <div class="d-inline-block">
        <h2 class="pl-2 pb-0 mb-2 mt-2">Solve Puzzle</h2>
{#        <div class="m-0 row mt-2 mb-3">#}
{#            <a href="{% url 'home' %}" class="ml-2 btn btn-dark">DONE</a>#}
{#        </div>#}
        <div class="m-1 bg-light p-3">
            <h4 class="mb-0"><b>{{ object }}</b></h4>
            <h6 class="mb-2 mt-1 text-secondary">
                Posted by: <b>{{ object.editor }}</b> on {{ object.shared_at|date:'M d, Y' }} (GMT)
            </h6>
            {% if object.desc != None and object.desc != "" %}
                <h6 class="text-dark">Description: {{ object.desc }}</h6>
            {% endif %}
            <hr>
            {% if object.size == 0 %}
                <div class="mt-2 notetext">No clues exist.</div>
            {% else %}
                <h5 class="mb-0"><b>Clues: [0 points earned of {{ object.total_points }}]</b></h5>
                <div class="notetext">Hover or click on a button below to view the clue.</div>
                <div class="mt-1">
                    {% for clue in object.get_clues %}
                        <button class="btn-sm btn-light border-secondary pt-0 pb-0">{{ clue.clue_num }}</button>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <script>
    $(document).ready(function(){
        $('#showAnswers').change(function() {
            if ( this.checked ) $('.answer').show();
            else $('.answer').hide();
        })
    })
    </script>
{% endblock %}