{% extends "base.html" %}
{% block content %}
    <div class="d-inline-block">
        <h2 class="pl-2 pb-0 mb-2 mt-2">{{ heading }}</h2>
        <div class="m-1 bg-light p-3">
            <h4 class="mb-0"><b>{{ object }}</b></h4>
            {% if object.is_published %}
                <h6 class="mb-2 mt-1 text-secondary" id="id-posted-by">
                    Posted by: <b>{{ object.editor }}</b> on {{ object.shared_at|date:'M d, Y' }} (GMT)
                </h6>
            {% endif %}
            {% if object.desc != None and object.desc != "" %}
                <h6 class="text-dark mb-3" id="id-desc">Description: {{ object.desc }}</h6>
            {% endif %}
            {% if object.size == 0 %}
                <div class="mt-2 notetext">No clues exist.</div>
            {% else %}
                <h5 class="mb-0"><b>Clues</b></h5>
                <div class="notetext">Click on a clue number button below to view the clue.</div>
                <!-- CLUE BUTTONS -->
                <div class="mt-1 mb-2">
                    {% for clue in object.get_clues %}
                        <button class="btn-sm btn-light border border-secondary pt-0 pb-0"
                                id = "clue-btn-{{ clue.clue_num }}"
                                onclick = "showClueAndAnswer(this.innerText);"
                                title="{{ clue.get_decorated_clue_text }} [{{ clue.points }} pts]">
                                {{ clue.clue_num }}
                        </button>
                    {% endfor %}
                </div>
                <!-- CLUE ROTATOR -->
                <div class="m-0 row align-items-center">
                    <!-- LEFT ARROW -->
                    <button class="pr-2 p-0 btn" title="Previous clue" id="id-left-caret" onclick="prevClue();">
                        <i class="fa fa-caret-left fa-3x"></i>
                    </button>
                    <!-- CLUE & ANSWER BOX -->
                    <div class="col p-2 border border-dark rounded-3" style="line-height:18px">
                        <div class="font-weight-bold mb-2" id="id-clue"></div>
                        <div id="id-answer-section">
                            <div class="m-0 row align-items-center">
                                Answer:
                                {% if active_session != None %}
                                    <div class="m-0 row ml-1" id="id-answer-icons">
                                        <div id="id-check-icon"><i class="fa fa-check text-success"></i></div>
                                        <div id="id-eye-icon"><i class="fa fa-eye text-secondary"></i></div>
                                        <div id="id-wrong-icon"><i class="fa fa-times text-danger"></i></div>
                                        <div class="ml-1" id="id-answer-msg">[2 pts]</div>
                                    </div>
                                {% endif %}
                            </div>
                            <div id="id-answer"></div>
                            {% if active_session != None %}
                                <div class="m-0 row mt-2" id="id-answer-btns">
                                    <button class="btn-sm btn-dark pt-0 pb-0" id="id-submit-btn"
                                            onclick='submitClicked();'>SUBMIT</button>
                                    <button class="btn-sm btn-dark pt-0 pb-0 ml-1" id="id-clear-btn"
                                            onclick='clearClicked();'>CLEAR</button>
                                    <button class="btn-sm btn-danger pt-0 pb-0 ml-auto" id="id-reveal-btn"
                                            onclick='revealClicked();'>REVEAL</button>
                                </div>
                            {% endif %}
                            <div class="mt-1" id="id-parsing"></div>
                        </div>
                    </div>

                    <!-- RIGHT ARROW -->
                    <button class="pl-2 p-0 btn" title="Next clue" id="id-right-caret" onclick="nextClue();">
                        <i class="fa fa-caret-right fa-3x"></i>
                    </button>
                </div>
            {% endif %}
            {% if active_session == None %}
            <div class="m-0 row mt-2">
                {% if object.size != 0 %}
                    {% if not object.is_published and request.user == object.editor %}
                        <a class="btn btn-primary" href="{% url 'publish_puzzle' object.id %}">PUBLISH</a>
                    {% endif %}
                    {% if object.is_published and request.user == object.editor %}
                        <a class="btn btn-primary" href="{% url 'unpublish_puzzle' object.id %}">UNPUBLISH</a>
                    {% endif %}
                    {% if object.is_published and request.user != object.editor %}
                        <a class="btn btn-primary" href="{% url 'solve_puzzle' object.id %}">SOLVE NOW</a>
                    {% endif %}
                {% endif %}
                <button id="id-no-thanks-btn" class="ml-auto btn btn-dark" onclick="history.back();">NO THANKS</button>
            </div>
            {% else %}
                <div class="m-0 row mt-2 font-weight-bold h5 align-items-center">
                    <div id="id-score"></div>
                    <div class="ml-auto"><i class="fa fa-clock-o"></i></div>
                    <div id="id-timer" class="ml-1"></div>
                </div>
                <div class="m-0 p-0 row align-items-center mt-1 shadow-sm">
                    <div class="progress col m-0 border border-secondary p-0" id="id-progress" style="height:18px">
                        <div id='id-solved-pts' class="progress-bar bg-success" role="progressbar"></div>
                        <div id='id-revealed-pts' class="progress-bar bg-secondary" role="progressbar"></div>
                    </div>
                </div>
                <hr class="mb-1">
                <div id="id-completed" class="m-0 row align-items-center">
                    <i class="fa fa-flag-checkered fa-2x" style="color:black;"></i>&nbsp;
                    <b>Puzzle completed!</b>
                    <button class="ml-auto btn btn-dark" id="id-done-btn"
                            onclick="history.back();">DONE
                    </button>
                </div>
                <button id="id-finish-later-btn" class="ml-auto btn btn-primary"
                        onclick="history.back();">FINISH LATER
                </button>
            {% endif %}
            {% if object.size != 0 and not object.is_published and request.user == object.editor %}
                <div class="notetext pt-2">
                    NOTE: Publish your puzzle only after all clues are complete. Published puzzles cannot be edited
                    and will be accessible to all puzzlers to solve.  Unpublish the puzzle to edit.
                </div>
            {% endif %}
            {% if object.size != 0 and object.is_published and request.user == object.editor %}
                <div class="notetext pt-2">
                    NOTE: Unpublish your puzzle only if you wish to make critical edits or delete the puzzle.
                    Unpublished puzzle will not be accessible to puzzlers and will put it in draft mode with
                    restricted editing.
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        var clueSet = {{ clues | safe }};
        var activeSession = {{ active_session | default_if_none:'null' | safe }};

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });

    </script>
    {% load static %}
    <script src="{% static '/javascript/word_puzzle_view.js' %}"></script>
{% endblock %}